* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    background: none;
    line-height: inherit;
    border: none;
    outline: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-appearance: none;
}

::before,
::after {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    background: none;
    line-height: inherit;
    border: none;
    outline: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-appearance: none;
}

:root {
    --White: rgb(239, 239, 239);
    --Black: rgb(35, 35, 35);
    --BaseWidth: 713px;
    @media (max-width: 775px) {
        --BaseWidth: 92vw;
    }
    --BasePadding: calc(50% - var(--BaseWidth) / 2);
    --BackgroundColor: var(--White);
    --ForegroundColor: var(--Black);
    @media (prefers-color-scheme: dark) {
        --BackgroundColor: var(--Black);
        --ForegroundColor: var(--White);
    }
    &[data-theme=Dark] {
        --BackgroundColor: var(--Black);
        --ForegroundColor: var(--White);
    }
    &[data-theme=Light] {
        --BackgroundColor: var(--White);
        --ForegroundColor: var(--Black);
    }
    font-family: 'Hiragino UD Sans Std', Arial, 'BIZ UDGothic', 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    background-color: var(--BackgroundColor);
    color: var(--ForegroundColor);
}

body {
    &>main {
        min-height: 100vh;
    }
    &>footer {
        --Padding: 2rem;
        @media (max-width: 775px) {
            --Padding: 4vw;
        }
        --ForegroundColor: var(--White);
        --BackgroundColor: var(--Black);
        width: 100%;
        max-width: none;
        padding: var(--Padding) 0 var(--Padding) 0;
        color: var(--ForegroundColor);
        background-color: var(--BackgroundColor);
        border-top: 1px solid var(--White); 
        &>svg {
            --ForegroundColor: var(--Black);
            float: left;
            max-width: 4rem;
            margin: 0 2rem 2rem var(--BasePadding);
            background-color: var(--White);
            border-radius: 50%;
        }
        &>nav {
            width: var(--BaseWidth);
            margin: 0 auto;
            text-align: right;
            &>* {
                display: block;
                line-height: 1rem;
                margin-bottom: 1rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &>aside {
            width: var(--BaseWidth);
            margin: 1rem auto 0 auto;
            @media (min-width: 440px) {
                position: absolute;
                left: var(--BasePadding);
                bottom: var(--Padding);
            }
        }
    }
}

@keyframes LogoEye {
    0% {
        transform: scale(1, 1);
    }
    10% {
        transform: scale(1, 1);
    }
    11% {
        transform: scale(1, 0.1);
    }
    13% {
        transform: scale(1, 1);
    }
    82% {
        transform: scale(1, 1);
    }
    83% {
        transform: scale(1, 0.1);
    }
    84% {
        transform: scale(1, 1);
    }
    85% {
        transform: scale(1, 0.1);
    }
    86% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

svg[data-svg=Logo] {
    fill: var(--ForegroundColor);
    stroke: var(--ForegroundColor);
}

circle[data-svg=LogoEye] {
    animation: 6s LogoEye infinite;
}

h1 {
    margin: 1rem auto 0.5rem auto;
    padding: 0.25rem 0;
    font-size: 1.5rem;
    line-height: 2rem;
}

h2 {
    margin: 0.5rem auto;
    padding: 0.3rem 0;
    font-size: 1.3rem;
    line-height: 1.7rem;
}

h3, h4, h5, h6 {
    margin: 0.5rem auto;
    padding: 0.3rem 0;
    line-height: 1.4rem;
    font-weight: bolder;
}

p {
    margin: 0 auto;
    padding: 0.2rem 0;
    line-height: 1.6rem;
    &+p {
        margin-top: -0.4rem;
    }
}

p::before {
    content: '';
    display: inline-block;
    width: 1rem;
}

ul, ol {
    margin: 0.5rem auto;
    padding-left: 1.8rem;
}

li {
    padding: 0.2rem 0;
    line-height: 1.6rem;
}

img {
    display: block;
}

svg {
    display: block;
    stroke-linecap: round;
    stroke-linejoin: round;
}

input {
    &[name=Theme] {
        display: none;
        &+label {
            display: inline;
            text-decoration: underline;
            &::before {
                content: '☐';
                display: inline-block;
                margin-right: 0.2rem;
            }
        }
        &:checked+label {
            font-weight: bolder;
            &::before {
                content: '☑';
            }
        }
    }
}
